# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Local env files
.env
.env.local

# Versioned plugin directories (created by Claude Code plugin system)
plugins/**/[0-9]*.[0-9]*.[0-9]*
